:root {
  --title-text-color: rgba(33, 33, 33, 1);
  --secondy-text-color: rgba(117, 117, 117, 1);
  --primery-white-color: #ffffff;
  --mr: 30px;
  --mb: 30px;
  --padd-section: 60px 0;
  --accent-color: rgba(33, 150, 243, 1);
  --accent-color-focus: rgba(24, 140, 232, 1);
  --bgc-grey: rgba(245, 244, 250, 1);
  --fill-icon: rgba(175, 177, 184, 0.8);
  --trans-prop: cubic-bezier(0.4, 0, 0.2, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul, ol {
  margin-bottom: 0px;
  padding-left: 0px;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
}

body {
  color: var(--title-text-color);
  background-color: var(--primery-white-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.current {
  color: var(--accent-color);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  outline: 0.1px solid green;
}

@media screen and (min-width: 480px) {
  .container {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 738px;
  }
}

.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-menu-btn {
  background-color: transparent;
  line-height: 0;
  border: none;
  padding: 0;
  cursor: pointer;
}

.burger-menu-icon {
  fill: var(--section-title-color);
}

.burger-menu-icon:focus, .burger-menu-icon:hover {
  fill: var(--accent-color);
}

.mobile-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms var(--trans-prop), visibility 250ms var(--trans-prop);
  letter-spacing: 0.02em;
  font-weight: 500;
  background-color: #ffffff;
}

.mobile-menu__container {
  position: relative;
  padding: 48px 40px;
}

.mobile-menu__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  line-height: 0;
  border: none;
  padding: 0;
  cursor: pointer;
}

.mobile-menu__close-icon {
  fill: var(--section-title-color);
}

.mobile-menu__close-icon:hover, .mobile-menu__close-icon:focus {
  fill: var(--accent-color);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-nav__list {
  margin-top: 0;
  margin-bottom: 306px;
}

.mobile-nav__item {
  margin-bottom: 32px;
}

.mobile-nav__item:last-child {
  margin-bottom: 0;
}

.mobile-nav__link {
  display: inline-block;
  font-size: 40px;
  line-height: 1.175;
  color: inherit;
}

.mobile-nav__link:focus, .mobile-nav__link:hover {
  color: var(--accent-color);
}

.mobile-contact {
  margin-bottom: 64px;
}

.mobile-contact__item {
  margin-bottom: 32px;
}

.mobile-contact__item:last-child {
  margin-bottom: 0;
}

.mobile-contact__link {
  font-size: 24px;
  line-height: 1.16;
  color: var(--secondy-text-color);
}

.mobile-contact__link-current {
  font-size: 34px;
  line-height: 1.17;
  color: var(--accent-color);
}

.mobail-social__list {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 0;
}

.mobail-social__item {
  margin-left: 10px;
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobail-social__item:first-child {
  margin-left: 0;
}

.mobail-social__item:last-child {
  margin-right: 0;
  padding-right: 0;
  border: none;
}

.mobail-social__link {
  font-size: 18px;
  line-height: 1.22;
  color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .mobile-menu, .mobile-menu-btn {
    display: none;
  }
}

.main-nav {
  padding-top: 15px;
  padding-bottom: 15px;
}

.main-nav__list {
  display: none;
}

@media screen and (min-width: 768px) {
  .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 26px;
    padding-bottom: 26px;
  }
  .main-nav .logo {
    margin-right: 88px;
  }
  .main-nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .main-nav__item {
    margin-right: 50px;
  }
  .main-nav__item:last-child {
    margin-right: 0;
  }
  .main-nav__link {
    margin-bottom: 32px;
    padding-top: 28px;
    padding-bottom: 28px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
  }
  .main-nav__link:focus, .main-nav__link:hover {
    color: var(--accent-color);
  }
  .main-nav__link-current {
    color: var(--accent-color);
  }
}

.backdrop {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  overflow: auto;
  transition: opacity 250ms var(--trans-prop), backround 250ms var(--trans-prop);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.contact-list {
  font-style: normal;
}

.contact-list__item:last-child {
  margin-bottom: 0;
}

.contact-list__item-link {
  color: rgba(255, 255, 255, 0.6);
}

.contact-header {
  display: none;
}

@media screen and (min-width: 768px) {
  .contact-header {
    display: contents;
  }
  .contact-header .contact-list {
    margin-top: 0;
  }
  .contact-header .contact-list__item-link {
    display: block;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--secondy-text-color);
  }
  .contact-header .contact-list__item:first-child {
    margin-bottom: 10px;
  }
  .contact-header__icon {
    max-width: 100%;
    height: auto;
    margin-right: 10px;
    fill: currentColor;
  }
}

.section-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.178;
  text-align: center;
}

.title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}

.logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
}

.logo-header {
  color: var(--title-text-color);
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: rgba(47, 48, 58, 0.4);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero480.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__title {
  margin-bottom: 30px;
  color: var(--primery-white-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  min-width: 200px;
  min-height: 50px;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--primery-white-color);
  border: 0 transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color 250ms var(--trans-prop);
}

.button:hover, .button:focus {
  background-color: var(--accent-color-focus);
}

.hero__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  padding: 40px 40px 37px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--primery-white-color);
}

.form {
  font-size: 12px;
  line-height: 1.66;
  letter-spacing: 0.01em;
  color: var(--secondy-text-color);
}

.form__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: var(--title-text-color);
}

.form__label {
  display: block;
  margin-bottom: 10px;
}

.form__text {
  display: block;
  margin-bottom: 4px;
}

.form__wrapper {
  position: relative;
  display: block;
}

.form__input {
  display: block;
  width: 100%;
  padding: 12px 12px 12px 43px;
  font: inherit;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border 250ms var(--trans-prop);
}

.form__input:hover, .form__input:focus {
  border-color: var(--accent-color);
}

.form__contact-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--title-text-color);
  transition: fill 250ms var(--trans-prop);
}

.form__input:hover + .form__contact-icon,
.form__input:focus + .form__contact-icon {
  fill: var(--accent-color);
}

.form__label-textarea {
  display: block;
  margin-bottom: 20px;
}

.form__textarea {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  font: inherit;
  resize: none;
  transition: border 250ms var(--trans-prop);
}

.form__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea:focus, .form__textarea:hover {
  border: 1px solid var(--accent-color);
}

.form-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 33px;
}

.form-labal-checkbox {
  display: flex;
  align-items: center;
  color: var(--form-labal-color);
}

.form-labal-checkbox::before {
  content: " ";
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 1px solid var(--title-text-color);
  border-radius: 2px;
  background-position: center;
  background-origin: padding-box;
  cursor: pointer;
  transition: background 250ms var(--trans-prop);
}

.accent-policy:checked + .form-labal-checkbox::before {
  background-image: url(../images/icon-check.svg);
  border: 1px solid transparent;
}

.accent-policy:focus + .form-labal-checkbox::before {
  outline: 1px solid var(--accent-color);
}

.conditions {
  text-decoration: underline;
  color: var(--accent-color);
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--title-text-color);
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: fill 250ms var(--trans-prop);
}

.button-close:hover, .button-close:focus {
  fill: var(--accent-color);
}

.action {
  padding: var(--padd-section);
}

.action__item {
  margin-bottom: 30px;
}

.action__item:last-child {
  margin-bottom: 0;
}

.action__item .title {
  margin: 30px 0 10px;
}

.action__icon {
  width: 100%;
  height: 120px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.action__text {
  color: var(--secondy-text-color);
}

@media screen and (min-width: 768px) {
  .action__list {
    display: flex;
    flex-wrap: wrap;
  }
  .action__item {
    width: 354px;
    margin-right: 30px;
    flex-basis: calc((100% - 30px) / 2);
  }
  .action__item:nth-child(2n + 2) {
    margin-right: 0;
  }
  .action__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
  .action .title, .action__text {
    text-align: left;
  }
}

.team {
  padding: var(--padd-section);
  background-color: var(--bgc-grey);
}

.team__item {
  width: 100%;
  margin-bottom: var(--mb);
  background-color: var(--primery-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__item:last-child {
  margin-bottom: 0;
}

.team__box {
  padding-top: 30px;
  padding-bottom: 24px;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  margin-bottom: 10px;
}

.team__skills {
  color: var(--secondy-text-color);
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
  }
  .team__item {
    width: 354px;
    height: 536px;
    margin-right: var(--mr);
    flex-basis: calc((100% - 30px) / 2);
  }
  .team__item:nth-child(2n + 2) {
    margin-right: 0;
  }
  .team__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
  .team img {
    height: 354px;
  }
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-list__item {
  margin-right: 10px;
}

.social-list__item:last-child {
  margin-right: 0;
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  fill: var(--fill-icon);
}

.clients {
  padding: var(--padd-section);
}

.clients__grid {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
}

.clients__item {
  height: 92px;
  margin-right: 30px;
  margin-bottom: 30px;
  flex-basis: calc((100% - 30px) / 2);
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: border-color 250ms var(--trans-prop) 0ms;
}

.clients__item:focus, .clients__item:hover {
  border-color: var(--accent-color);
}

.clients__item:nth-child(2n + 2) {
  margin-right: 0;
}

.clients__item:nth-last-child(-n + 2) {
  margin-bottom: 0;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--fill-icon);
  width: 100%;
  height: 100%;
  transition: fill 250ms var(--trans-prop) 0ms;
}

.clients__link:focus, .clients__link:hover {
  fill: var(--accent-color);
}

.clients__icon {
  width: 106px;
  height: 60px;
}

@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc((100% - 90px) / 3);
  }
  .clients__item:nth-child(3n + 3) {
    margin-right: 0;
  }
  .clients__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.footer {
  padding: var(--padd-section);
  background-color: #2f303a;
  text-align: center;
}

.footer__logo {
  color: var(--primery-white-color);
  text-align: center;
  margin-bottom: 20px;
}

.footer .title {
  color: var(--primery-white-color);
  margin-bottom: 20px;
}

.address {
  margin-bottom: 60px;
}

.address__text {
  color: var(--primery-white-color);
}

.address > .contact-list > .contact-list__item {
  margin-bottom: 8px;
}

.address > .contact-list > .contact-list__item:last-child {
  margin-bottom: 0;
}

.footer__social-wrapper {
  margin-bottom: 60px;
}

.footer__form {
  display: inline-block;
}

.footer__form-user-email {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primery-white-color);
}

.footer__form-input {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: var(--primery-white-color);
  background-color: transparent;
}

.footer__form-input::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.footer__form .social-list__icon {
  width: 24px;
  height: 24px;
  margin-left: 12px;
}

@media screen and (min-width: 768px) {
  .footer__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer__social-wrapper {
    margin-bottom: 0px;
  }
  .footer__address-wrapper {
    margin-right: 165px;
    margin-bottom: 60px;
  }
}
/*# sourceMappingURL=main.css.map */