.action{
    padding: var(--padd-section);
        &__list{
            display: flex;
            flex-wrap: wrap;
            margin-left: calc(-1 * var(--card-set-grid));
            margin-bottom: calc(-1 * var(--card-set-grid));
        }
    
        &__item {
            width: 450px;
            height: 226px;

            margin-left: var(--card-set-grid);
            margin-bottom: var(--card-set-grid);

            flex-basis: calc(100% / 1 - var(--card-set-crid));
        }

        .action__card-thumb{
            width: 100%;
            height: 120px;
            margin-bottom: 30px;
        }

        &__icon{
        width: 100%;
        height: 120px;
    
        padding-top: 25px;
        padding-bottom: 25px;
        margin-left: auto;
        margin-right: auto;
    
        border-radius: 4px;
        background-color: rgba(245, 244, 250, 1);
        }

        .action__footer{

        }
    
        &__text{
        color: var(--secondy-text-color);
        margin-top: 10px;
        }
}

// 720px +
@media screen and (min-width: 768px) {
    
    .action{

        &__item{
            width: 354px;
            height: 251px;
            flex-basis: calc(100% / 2 - var(--card-set-grid));
        }
        & .title, &__text {
            text-align: left;
        }
    }
}

// 1200 px +
@media screen and (min-width: 1200px){
    .action{
        &__list{
             
        }
        &__item{
            width: 270px;
            height: 251px;
            flex-basis: calc(100% / 4 - var(--card-set-grid));
        }
    }
}