.page-header {
    border-bottom: 1px solid var(--bgc-grey);
    background-color: var(--primery-white-color);
  }
  
  .main-nav {
    display: flex;
    align-items: center;
  }
  
  .menu {
    display: flex;
    margin-right: auto;
    & > .item:last-child {
      margin-right: 0px;
    }
  }
  
  .link-nav {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  
    color: var(--title-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
  
    transition: color 250ms var(--trans-prop) 0ms;
  }
  
  .menu .item,
  .contact .item {
    margin-right: 50px;
  }
  
  .contact {
    display: flex;
    margin-left: auto;
    &-icon {
      max-width: 100%;
      height: auto;
      margin-right: 10px;
      fill: currentColor;
    }
    & > .item:last-child {
      margin-right: 0px;
    }
  }
  
  .current {
    position: relative;
    color: var(--accent-color);
    &::after {
      content: "";
      position: absolute;
    
      top: 100%;
      right: 100%;
      transform: translate(100%);
    
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: var(--accent-color);
    }
  }
  
  .contact-item-text {
    display: flex;
    align-items: center;
    color: var(--secondy-text-color);
  }