.hero{
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 118px;
    padding-bottom: 118px;
    
    background-color: rgba(47, 48, 58, 0.4);
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero480.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    &__title{
        margin-bottom: 30px;
        color: var(--primery-white-color);
        
        font-weight: 900;
        font-size: 26px;
        line-height: 1.615;
        letter-spacing: 0.06em;   
        text-align: center;
        text-transform: uppercase;     
    }
}