.hero{
    padding-top: 118px;
    padding-bottom: 118px;
    
    background-color: rgba(47, 48, 58, 0.4);
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero480.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    &__title{
        margin-bottom: var(--mb);
        color: var(--primery-white-color);
        
        font-weight: 900;
        font-size: 26px;
        line-height: 1.615;
        letter-spacing: 0.06em;   
        text-align: center;
        text-transform: uppercase;     
    }
}

@media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url("../images/hero480@2x.jpg'");
        }
    }


// 720px +
@media screen and (min-width: 768px){
    .hero{
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url('../images/hero720.jpg');
    }

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url('../images/hero720@2x.jpg');
        }
    }
}

// 1200 px +
@media screen and (min-width: 1170px) {
    .hero{
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url('../images/hero1200.jpg');
        padding-top: 200px;
        padding-bottom: 200px;
            &__title{
            font-weight: 900;
            font-size: 44px;
            line-height: 1.36;
        }
        }  

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero {
            background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url('../images/hero1200@2x.jpg');
                }
        }
}