.contact-list{
    font-style: normal;

    &__item{

        &:last-child{
            margin-bottom: 0;
        }
        }
        
    &__item-link{
            color: rgba(255, 255, 255, 0.6);
        }
        
}