.contact-list{
    font-style: normal;

    &__item{

        &:last-child{
            margin-bottom: 0;
        }
        }
        
    &__item-link{
            color: rgba(255, 255, 255, 0.6);
        }
        
}

.contact-header{
    display: none;
}

@media screen and (min-width: 768px) {
    .contact-header{
        display: contents;
        
        .contact-list{
            margin-top: 0;
        }

        & .contact-list__item-link{
            display: block;
            
            font-size: 12px;
            font-weight: 500;
            line-height: 1.16;
            letter-spacing: 0.02em;
            color: var(--secondy-text-color);
        }
        
        .contact-list__item:first-child{
            margin-bottom: 10px;
        }
        &__icon {
            max-width: 100%;
            height: auto;
            margin-right: 10px;
            fill: currentColor;
          }
    }
    
}

// 1200 px +
@media screen and (min-width: 1200px) {
    .contact-header{
        & .contact-list{
            display: flex;
            align-items: baseline;
            &__item:first-child{
                margin-right: 30px; 
                margin-bottom: 0;
            }
  
        }
            
    }

    .contact-list{
            
        &__item-link:hover, &__item-link:focus {
                color: var(--accent-color)
            }
            
    }
    
}