.logo-link {
    margin-right: 93px;
    color: var(--accent-color);
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
  }
  
  .logo {
    color: var(--title-text-color);
  }

  .link-logo {
  display: inline-block;
}

  .footer a .logo:last-child {
    color: var(--primery-white-color);
    margin-right: 0;
  }