
.main-nav{
    padding-top: 15px;
    padding-bottom: 15px;
}

.main-nav__list{
    display: none;
}

// 768 px +
@media screen and (min-width: 768px) {
    .main-nav{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding-top: 26px;
        padding-bottom: 26px;
        .logo{
            margin-right: 88px;
        }
        }
        
        

        .main-nav__list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        }
        
        .main-nav__item{
            margin-right: 50px;
            &:last-child{
                margin-right: 0;
            }
        }
        
        .main-nav__link{
            margin-bottom: 32px;
            padding-top: 28px;
            padding-bottom: 28px;
        
            font-weight: 500;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.02em;
            color: var(--title-text-color);
        
            &:focus, &:hover{
                color: var(--accent-color);
            }
            &-current{
                color: var(--accent-color);
            }
        }
    }



// // 1200 px +
// @media screen and (min-width: 1200px) {
    
// }

