
.main-nav{
    padding-top: 15px;
    padding-bottom: 15px;
}

.main-nav__list{
    display: none;
}

// 768 px +
// @media screen and (min-width: 768px) {
//     .main-nav{
//         display: flex;
//         padding: 40px 48px;

//         background-color: darkcyan;
//         }
        
//         .main-nav__list{
//         display: flex;
//         justify-content: space-between;
//         align-items: center;

//         background-color: royalblue;
//         color: red;
//         }
        
//         .main-nav__item{
//             background-color: royalblue;
//         color: red;
//         }
        
//         .main-nav__link{

//             margin-bottom: 32px;
        
//             font-weight: 500;
//             font-size: 14px;
//             line-height: 1.14;
//             letter-spacing: 0.02em;
//             color: inherit;
        
//             &:focus, &:hover{
//                 color: var(--accent-color);
//             }
//         }
//     }



// // 1200 px +
// @media screen and (min-width: 1200px) {
    
// }

