.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  
    min-width: 200px;
    min-height: 50px;
    padding: 5px 16px;
  
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
  
    background-color: var(--accent-color);
    color: var(--primery-white-color);
    border: 0 transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
  
    transition: background-color 250ms var(--trans-prop);
    &:hover, &:focus{
      background-color: var(--accent-color-focus);
    }
  }