*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
ul {
  margin-bottom: 0px;
  padding-left: 0px;
  list-style: none;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  // transition: color 250ms var(--trans-prop) 0ms;    
  // &:hover,
  // &:focus {
  //   color: var(--accent-color);
  // }
  // color: var(--title-text-color);
}

body {
    color: var(--title-text-color);
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }