
.container{    
    padding: 0px 15px;
    margin: 0 auto;
    width: 100%;
}

// 480 px +
@media screen and (min-width: 480px) {
    .container{
        width: 480px;
        
    }
    }

// 768 px +
@media screen and (min-width: 768px) {
    .container{
        width: 768px;
    }
    }   

// 1200 px +
@media screen and (min-width: 1200px) {
    .container{
        width: 1200px;
    }
}