:root {
  --title-text-color: rgba(33, 33, 33, 1);
  --secondy-text-color: rgba(117, 117, 117, 1);
  --accent-color: rgba(33, 150, 243, 1);
  --accent-color-focus: rgba(24, 140, 232, 1);
  --primery-white-color: #ffffff;
  --bgc-grey: rgba(245, 244, 250, 1);
  --fill-icon: rgba(175, 177, 184, 0.8);
  --form-labal-color: #757575;
  --mr: 30px;
  --mb: 30px;
  --trans-prop: cubic-bezier(0.4, 0, 0.2, 1);
  }